
body {
    background: url(https://html5book.ru/wp-content/uploads/2015/10/background52-150x150.jpg);
    background-position: 100%;
    background-clip: padding-box;
}
.four {
	background: #F4F7EE;
	padding: 50px 20px;
	text-align: center;
} 
.four h1 {
	font-family: 'Merriweather', serif;
	position: relative;
	color: #C44737;
	font-size: 50px;
	font-weight: normal;
	padding: 8px 20px 7px 20px;
	border-top: 4px solid;
	border-left: 4px solid;
	display: inline-block;
	margin: 0;
	line-height: 1;
}
.four h1:before {
    content: ""; 
    position: absolute;
    width: 28px;
    height: 28px;
    top: -28px;
    left: -28px;
    border: 4px solid #C44737;
    box-sizing: border-box;
}

@media (max-width: 450px) { .four h1 {font-size: 36px; }

.four h1:before {
	width: 20px;
	height: 20px;
	top: -20px;
	left: -20px;
	}
}
nav {
	text-align: center;
}
.button-2 {
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-family: monospace;
    font-size: 16px;
    color: #CD5C5C;
}
.button-2 span {
    position: relative;
}
.button-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background: #FFC0CB;
    transition: .3s ease-in-out;
}
.button-2:hover:before {
    width: 100%;
}
img {
	text-align: center;
	width: 400px;
	height: 300px;
    border: 10px solid #fff;
    border-radius: 15px;
    margin-left: 750px
}
p {
	text-align: center;
	font-style: oblique;
	font-size: 25px
}
footer {
	text-align: right; 
	margin-top: 50px;
}
