* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	min-height: calc(100vh - 100px);
	margin-top: 100px;
}

body.dark {
	background: #000000;
	color: white;
}

body.dark .content {
	box-shadow: 0 0 5px #1d2225
}

body.dark button {
	box-shadow: 0 0 5px #1d2225;
	color: white;
}

body.dark button:hover {
	box-shadow: 0 0 10px #1d2225;
	color: white;
}

body.dark button:active{
	box-shadow: inset 0 0 5px #1d2225;
}

h1.heading {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
	margin-top: 40px; 
	margin-bottom: 50px; 
	text-transform: capitalize;
	font-family: Comic Sans MS;
	padding: 4px;
	letter-spacing: 4px;
}

nav {
	text-align: center;
	padding: 10px;
	letter-spacing: 4px;
}

.button1 {
    text-decoration: none;
	display: inline-block;
	padding: 10px 50px;
	margin: 20px 30px;
	border-radius: 20px;
	background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
	background-position: 100% 0;
	background-size: 200% 200%;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: white;
	box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
	transition: .4s;
	color: var(--text-color);
}

a.button1:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }

.button2 {
   text-decoration: none;
	display: inline-block;
	padding: 10px 50px;
	margin: 20px 30px;
	border-radius: 20px;
	background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
	background-position: 100% 0;
	background-size: 200% 200%;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: white;
	box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
	transition: .4s;
	color: var(--text-color);
}

a.button2:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }

.button3 {
    text-decoration: none;
	display: inline-block;
	padding: 10px 50px;
	margin: 20px 30px;
	border-radius: 20px;
	background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
	background-position: 100% 0;
	background-size: 200% 200%;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: white;
	box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
	transition: .4s;
	color: var(--text-color);
}

a.button3:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }

.content {
	width: 55%;
	margin: auto;
	box-shadow: 0 0 3px silver;
	padding: 20px;
	height: calc(70vh - 100px - 40px);
}

.picture {
	display: block;
	margin:0px auto 0px auto;
	width: 50%;
	height: auto;
	border-style: solid;
}

.picturethree {
	display: block;
	margin:0px auto 0px auto;
	width: 20%;
	height: auto;
	border-style: solid;
}

.picturevino {
	display: block;
	margin:0px auto 0px auto;
	width: 30%;
	height: auto;
	border-style: solid;
}

.imgiam {
	display: block;
	margin:0px auto 0px auto;
	width: 50%;
	border-style: solid;
	height: auto;
}

h1.hello {
	text-align: center;
	padding: 10px;
	font-family: monospace;
}

p.hello {
	text-align: center;
	padding: 20px;
	font-family: monospace;
	font-weight: bold;
	font-stretch: semi-condensed;
	font-size: 20px; 
}

.table {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

td, th {
	padding: 8px;
	border: 2px solid;
}

tr {
	background: #D3D3D3
}

.htp {
	text-decoration: none;
	color: orange;
}

.footer {
	text-align: right;
}

#onButton {
	display: block;
	margin:0px auto 0px auto;
	padding: 10px 20px;
	background: transparent;
	box-shadow: 0 0 5px silver;
	cursor: pointer;
	outline: none;
}

#onButton:hover {
	box-shadow: 0 0 15px silver;
}

#onButton:active {
	box-shadow: inset 0 0 5px silver;
}
